body {
  font-family: "Happy Monkey", cursive;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("./Fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 0;
  margin: 0;
}

body > div {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  position: relative;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

header {
  position: relative;
  height: 40vh;
  margin: 0;
  padding: 10px 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)),
    url("./Youth-SoccerORIG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
}

header h1 {
  animation-name: bounceInUp;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  bottom: 15px;
  margin: 0;
  text-align: center;
  z-index: 20;
  font-size: 3vw;
  color: white;
  text-shadow: 3px 3px rgba(92, 141, 44, 0.5);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  animation-name: jackInTheBox;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  opacity: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(128, 255, 0, 0.5), rgb(0, 0, 0));
}

@keyframes jackInTheBox {
  0% {
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

nav ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

nav ul li {
  position: relative;
  float: left;
  top: 0;
  font-size: 1.1vw;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 5px;
  border-style: outset;
}

nav ul li a:hover {
  animation-name: menu3d;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes menu3d {
  100% {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(92, 141, 44));
    border-style: inset;
  }
}

.active {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(92, 141, 44));
  border-style: inset;
  margin: -8px 10px;
  padding: 5px;
  color: white;
}

.news {
  background-color: rgba(255, 0, 0, 0.2);
  margin: 5px;
  overflow-x: hidden;
  border-top: 2px red dashed;
  border-bottom: 2px red dashed;
}

.news div {
  font-family: "Archivo Black", sans-serif;
  border-top: 2px white;
  padding: 5px;
  color: black;
  padding-left: 100%;
  animation-name: news_scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  white-space: nowrap;
  width: max-content;
}

@keyframes news_scroll {
  100% {
    transform: translateX(-100%);
  }
}

.ball {
  display: inline-block;
  position: absolute;
  width: 5vw;
  top: 1.7vw;
  left: 100%;
  animation-name: ball;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}

@keyframes ball {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg);
    left: 15px;
  }
}

.ball1 {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 5vw;
  top: 1.7vw;
  left: 15px;
  animation-name: ball_rotating;
  animation-duration: 1000ms;
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ball_rotating {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

.flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

main {
  width: 70%;
  position: relative;
  overflow: hidden;
  z-index: 5;
  border-radius: 50px 20px 20px 50px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0;
  color: rgb(3, 57, 73);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}


main.full {
  width: 100%;
  border-radius: 50px;
}

main h2 {
  left: 100%;
  position: relative;
  font-size: 3vw;
  animation-name: ball_title;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}
main > p {
  left: 7.5vw;
  position: relative;
  font-size: 1.5vw;
  font-weight: bolder;
}

@keyframes ball_title {
  100% {
    left: 7.5vw;
  }
}

.content {
  padding: 10px;
  margin: 15px;
  background-color: rgba(3, 57, 73, 0.5);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.content:hover {
  filter: brightness(1.5);
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

.content:nth-last-child(1) {
  border-radius: 0 0 20px 50px;
}
.full .content:nth-last-child(1) {
  border-radius: 0 0 50px 50px;
}

.content h3 {
  text-transform: lowercase;
  color: black;
  margin: 0;
  text-align: center;
  font-size: 3vw;
  font-weight: 300;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
.content h3::first-letter {
  text-transform: capitalize;
}

.content a {
  font-weight: 900;
  color: rgb(3, 57, 73);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.content p {
  font-size: 1.5vw;
  font-style: italic;
  color: white;
}
.content li {
  font-size: 1.2vw;
  font-style: italic;
  color: white;
}

.content > ul {
  list-style-type: square;
  font-style: italic;
  color: white;
}

ol.lettere {
  list-style-type: lower-alpha;
}

ul.cerchi {
  list-style-type: circle;
}

.content span,
form span {
  font-weight: bolder;
}

aside {
  width: 30%;
  position: relative;
  padding: 0;
  border: 0;
}

aside:hover {
  width: 100%;
}

aside img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  filter: brightness(0.5);
}

aside img:hover {
  filter: brightness(1);
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

.maps_column {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-content: stretch;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.95);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(0.98);
  }
  70% {
    transform: scale(1);
  }
}

aside div:nth-child(1),
aside img:nth-child(1) {
  border-radius: 20px 50px 20px 20px;
}

aside div:nth-last-child(1),
aside img:nth-last-child(1) {
  border-radius: 20px 20px 50px 20px;
}

footer {
  position: relative;
  top: -16px;
  height: 50px;
  margin: 0 auto;
  width: 70%;
  padding: 0 10px;
  background-color: rgb(3, 57, 73);
  text-align: center;
  color: white;
}

footer img {
  border: 0;
  padding: 5px 0;
  width: 88px;
  height: 30px;
}

table, .content td>a {
  font-family: arial;
  font-weight: initial;
  color: white;
  margin: 5px auto;
  text-shadow: none;
}
td,
th {
  padding: 0 20px 0 0;
  text-align: left;
}
td:nth-child(1) {
  text-align: center;
}
th {
  text-decoration: underline;
}
th:nth-child(1) {
  text-align: center;
}

table.normal td,
table.normal th {
  text-align: left;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  width: 100%;
}

input:focus {
  background-color: lightblue;
}

input[type="radio"] {
  margin-left: 20px;
}

.registration {
  border-radius: 0 0 50px 50px;
  padding: 0px 10px;
  margin: 0 auto 15px;
  background-color: rgba(3, 57, 73, 0.5);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  font-size: 1.4vw;
  font-style: italic;
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 50%;
}
.column input[type="radio"],
input[type="checkbox"] {
  margin-left: 0;
  text-align: justify;
}
.column:nth-child(2) {
    border-left: 1px white solid;
  }
  

.row,
.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  margin: 0;
}
.row div {
  padding: 5px;
}
.row1 div {
  width: 50%;
  padding: 0;
  margin: 0;
}

form > p {
  margin-bottom: 0;
}

.underlined input,
input[type="submit"] {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: "Happy Monkey", cursive;
}
.underlined input {
  border-bottom: 1px white solid;
  color: white;
  font-style: italic;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.4vw;
}

.formsubmit {
  margin: 15px;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(128, 255, 0, 0.5), rgb(0, 0, 0));
}

input[type="submit"] {
  position: relative;
  top: 7px;
  width: 100px;
  height: 36px;
  color: white;
  margin: 0 10px;
  padding: 5px;
  border-style: outset;
  font-size: 1.1vw;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:hover {
  animation-name: menu3d;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

aside div,
aside img,
aside iframe {
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

aside iframe,
.stretch {
  height: 100%;
  margin-bottom: 10px;
}

.stretch:nth-last-child(1) {
  margin-bottom: 0px;
}

h4 {
  text-align: center;
  background-color: transparent;
}

iframe {
  z-index: 0;
}